@tailwind base;
@tailwind components;


html {
    font-family:  Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #403d39;;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  
    --font-base: 'Open Sans', sans-serif;
    --font-alt: 'Noto Sans JP', sans-serif;
    --color-black: #0c0c0c;
    --color-white: #FFFFFF;
    --color-golden: #DCCA87;
  }
  