
html,
:root {
    font-family:  Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #403d39 !important;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  
    --font-base: 'Open Sans', sans-serif;
    --font-alt: 'Noto Sans JP', sans-serif;
    --color-bg: #403d39;
    --color-primary: #252422;
    --color-secondary: #ccc5b9;
    --color-white: #FFFFFF;
    --color-golden: #DCCA87;
  }